<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183365513568-8d9rkj86p0j55qopji6j9nmkll97iuu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183365513568-8d9rkj86p0j55qopji6j9nmkll97iuu9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>183365513568-1ppf4evmrjik7hs6tgq3p8o076fgetmi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXivGIE4AidtgTiaQRN3wV0AdPAfGhdpw</string>
	<key>GCM_SENDER_ID</key>
	<string>183365513568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>como.kelem.nibjobs</string>
	<key>PROJECT_ID</key>
	<string>nib-job-finder</string>
	<key>STORAGE_BUCKET</key>
	<string>nib-job-finder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183365513568:ios:4636dc4cc266cb8ea0ae05</string>
</dict>
</plist>